* > * {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#controls {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-inline: 1em;
}

.button {
    background: rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: black;
    padding: .5em 1em;
}

#startButtonMenu {
    color: #333333;
    text-decoration: underline;
}

#resumeButton {
    display: none;
}

#restartButton {
    display: none;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

#timer {
    position: absolute;
    top: 10px;
    right: 50%;
    color: white;
    transform: translate(50%, 0);
}

canvas {
    background: linear-gradient(45deg, hsla(180, 100%, 50%, .5), hsla(200, 100%, 50%, .5), hsla(220, 100%, 50%, .5),hsla(240, 100%, 50%, .5) );
	background-size: 200% 200%;
    background-position: center;
    display: block;
    animation: bg 10s ease infinite forwards;
}

@keyframes bg {
    0% {
		background-position: 0% 0%;
	}
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#endScreen {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: 2em;
    color: white;
    background: rgba(0, 0, 0, .5);
    gap: 1em;
}

#restartButton.end {
    position: static;
    display: block;
}

@media screen and (max-width: 1000px) {
    canvas {
        width: 100vw;
        height: 100svh;
    }

    #controls {
        flex-direction: column;
        right: 10px;
    }

    .button {
        font-size: 1.5em;
    }

    #timer {
        font-size: 3em;
        left: 30%;
    }

    #score {
        font-size: 3em;
        left: 10px;
    }
}

#intro {
    width: 80vw;
    text-align: center;
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
